<!-- no 'loop', 'onended' points to the new scene -->
<video id="vid" class="video" autoplay onended="window.location.href='#start';">
  <source src="videos/end.mp4" type="video/mp4" />
  <track
    id="track"
    label="Hints"
    kind="subtitles"
    srclang="en"
    src="videos/vtt/end.vtt"
    default
  />
  Your browser does not support the video tag.
</video>

<div class="overlay">
  <p id="choice-msg" class="choice-msg fadeout">
    That's it!<br />
    Thank you!<br />
    乁︵(☀◡☀)︵ㄏ
  </p>
</div>

<!--
These buttons supposed to be hidden (via CSS) and "clicked" by JS only.
Note the 'data-obj-regex' custom attribute that defines a RegExp for the
"choice" of an "object" - it selects the button the JS code "clicks" at.
(Change the 'dev' class style to unhide these buttons for debugging).
-->
<div id="hidden-elements" class="dev">
  <fieldset>
    <legend>Scene End</legend>
    <fieldset>
      <button
        id="btnRestart"
        class="btnDev"
        type="button"
        onclick="window.location.href='#start'"
        data-obj-regex="/-RESTART$/"
      >
        Restart 乁(ツㄏ
      </button>
      <button
        id="btnBack"
        class="btnDev"
        type="button"
        onclick="history.back()"
        data-obj-regex="/-BACK$/"
      >
        Back (<--)
      </button>
      <button
        id="btnDev"
        class="btnDev"
        type="button"
        onclick="window.location.href='#dev'"
        data-obj-regex="/-DEV$/"
      >
        Dev Menu (≋个≋)
      </button>
    </fieldset>
  </fieldset>
</div>
