<!-- 'onended' and 'data-replay-count' define replay/restart logic -->
<video
  id="vid"
  class="video"
  autoplay
  onended="App.scene.onVideoPlayed() ? this.play() : App.scene.doRestart();"
  data-replay-count="3"
>
  <source src="videos/sceneA.mp4" type="video/mp4" />
  <track
    id="track"
    label="Hints"
    kind="subtitles"
    srclang="en"
    src="videos/vtt/sceneA.vtt"
    default
  />
  Your browser does not support the video tag.
</video>

<div class="overlay">
  <p id="try-again-msg" class="try-again-msg blink-few-times" hidden>
    Nice try! But...
  </p>
  <p id="choice-msg" class="choice-msg fadeout">
    Please put<br />
    EGG or SWEETS<br />
    on the 2nd plate
  </p>
  <p id="restart-msg" class="restart-msg blink" hidden>
    Will restart in a few secs... 乁(ツㄏ
  </p>
</div>

<!--
These buttons supposed to be hidden (via CSS) and "clicked" by JS only.
Note the 'data-choice-regex' custom attribute that defines a RegExp for the
"choice" - it selects the button the JS code "clicks" at.
(Change the 'dev' class style to unhide these buttons for debugging).
-->
<div id="hidden-elements" class="dev">
  <fieldset>
    <legend>Scene A</legend>
    <button
      id="btnChoiceOne"
      class="btnChoice"
      type="button"
      onclick="window.location.href='#connectAF';"
      data-choice-regex="^[Ax]-F-x$"
    >
      --> Connector A->F
    </button>
    <button
      id="btnChoiceTwo"
      class="btnChoice"
      type="button"
      onclick="window.location.href='#connectAB2';"
      data-choice-regex="^[Ax]-B-x$"
    >
      --> Connector A->B2
    </button>
    <fieldset>
      <button
        id="btnRestart"
        class="btnDev"
        type="button"
        onclick="window.location.href='#start'"
        data-choice-regex="-RESTART$"
      >
        Restart 乁(ツㄏ
      </button>
      <button
        id="btnBack"
        class="btnDev"
        type="button"
        onclick="history.back()"
        data-choice-regex="-BACK$"
      >
        Back (<--)
      </button>
      <button
        id="btnDev"
        class="btnDev"
        type="button"
        onclick="window.location.href='#dev'"
        data-choice-regex="-DEV$"
      >
        Dev Menu (≋个≋)
      </button>
    </fieldset>
  </fieldset>
</div>
