<!-- no 'loop', 'onended' points to the new scene -->
<video
  id="vid"
  class="video"
  autoplay
  onended="window.location.href='#sceneE';"
>
  <source src="videos/videoCE.mp4" type="video/mp4" />
  <track
    id="track"
    label="Hints"
    kind="subtitles"
    srclang="en"
    src="videos/vtt/videoCE.vtt"
    default
  />
  Your browser does not support the video tag.
</video>

<!-- These buttons may be unhidden, its text & action may be changed -->
<div id="hidden-elements" class="dev">
  <fieldset>
    <legend>Scene C1->E</legend>
    <fieldset>
      <button
        id="btnRestart"
        class="btnDev"
        type="button"
        onclick="window.location.href='#sceneStart'"
      >
        Restart 乁(ツㄏ
      </button>
      <button
        id="btnBack"
        class="btnDev"
        type="button"
        onclick="history.back()"
      >
        Back (<--)
      </button>
      <button
        id="btnDev"
        class="btnDev"
        type="button"
        onclick="window.location.href='#dev'"
      >
        Dev Menu (≋个≋)
      </button>
    </fieldset>
  </fieldset>
</div>
