<!-- no 'loop', 'onended' points to the new scene -->
<video
  id="vid"
  class="video"
  autoplay
  onended="window.location.href='#sceneC1';"
>
  <source src="videos/videoBC.mp4" type="video/mp4" />
  <track
    id="track"
    label="Hints"
    kind="subtitles"
    srclang="en"
    src="videos/vtt/videoBC.vtt"
    default
  />
  Your browser does not support the video tag.
</video>

<!--
These buttons supposed to be hidden (via CSS) and "clicked" by JS only.
(`Scene.toggleHidden()` shall add/remove the `hidden` attribute).
Note the 'data-choice-regex' custom attribute that defines a RegExp for the
"choice" - it selects the button the JS code "clicks" at.
-->
<div id="dev-els" class="dev" hidden>
  <fieldset>
    <legend>Scene B1->C1</legend>
    <fieldset>
      <button
        id="btnRestart"
        class="btnDev"
        type="button"
        onclick="window.location.href='#sceneStart'"
        data-choice-regex="-RESTART$"
      >
        Restart 乁(ツㄏ
      </button>
      <button
        id="btnBack"
        class="btnDev"
        type="button"
        onclick="history.back()"
        data-choice-regex="-BACK$"
      >
        Back (<--)
      </button>
      <button
        id="btnDev"
        class="btnDev"
        type="button"
        onclick="App.scene.toggleHidden()"
        data-choice-regex="-DEV$"
      >
        Hide
      </button>
      <div class="dev-menu-links"><a href="#dev">Dev Menu (≋个≋)</a></div>
    </fieldset>
  </fieldset>
</div>
