<!-- Note "endless" 'loop'-->
<video id="vid" class="video" autoplay loop>
  <source src="videos/videoStart.mp4" type="video/mp4" />
  <track
    id="track"
    label="Hints"
    kind="subtitles"
    srclang="en"
    src="videos/vtt/videoStart.vtt"
    default
  />
  Your browser does not support the video tag.
</video>

<div class="overlay">
  <p id="try-again-msg" class="try-again-msg blink-few-times" hidden>
    Nice try! But...
  </p>
  <p id="choice-msg" class="choice-msg fadeout-start">
    Please put<br />
    APPLE or SWEETS<br />
    on the 1st plate
  </p>
  <p id="restart-msg" class="restart-msg blink" hidden>
    Will restart in a few secs... 乁(ツㄏ
  </p>
</div>

<!--
These buttons supposed to be hidden (via CSS) and "clicked" by JS only.
(`Scene.toggleHidden()` shall add/remove the `hidden` attribute).
Note the 'data-choice-regex' custom attribute that defines a RegExp for the
"choice" - it selects the button the JS code "clicks" at.
-->
<div id="dev-els" class="dev" hidden>
  <fieldset>
    <legend>Scene Start</legend>
    <button
      id="btnChoiceOne"
      class="btnChoice"
      type="button"
      onclick="window.location.href='#sceneA';"
      data-choice-regex="^A-x-x$"
    >
      --> Scene A
    </button>
    <button
      id="btnChoiceTwo"
      class="btnChoice"
      type="button"
      onclick="window.location.href='#sceneB1';"
      data-choice-regex="^B-x-x$"
    >
      --> Scene B1
    </button>
    <fieldset>
      <button
        id="btnRestart"
        class="btnDev"
        type="button"
        onclick="window.location.href='#sceneStart'"
        data-choice-regex="-RESTART$"
      >
        Restart 乁(ツㄏ
      </button>
      <button
        id="btnBack"
        class="btnDev"
        type="button"
        onclick="history.back()"
        data-choice-regex="-BACK$"
      >
        Back (<--)
      </button>
      <button
        id="btnDev"
        class="btnDev"
        type="button"
        onclick="App.scene.toggleHidden()"
        data-choice-regex="-DEV$"
      >
        Hide
      </button>
      <div class="dev-menu-links"><a href="#dev">Dev Menu (≋个≋)</a></div>
    </fieldset>
  </fieldset>
</div>
