<!-- no 'loop', 'onended' points to the new scene -->
<video id="vid" class="video" autoplay onended="window.location.href='#end';">
  <source src="videos/sceneC2.mp4" type="video/mp4" />
  <track
    id="track"
    label="Hints"
    kind="subtitles"
    srclang="en"
    src="videos/vtt/sceneC2.vtt"
    default
  />
  Your browser does not support the video tag.
</video>

<!--
These buttons supposed to be hidden (via CSS) and "clicked" by JS only.
Note the 'data-choice-regex' custom attribute that defines a RegExp for the
"choice" - it selects the button the JS code "clicks" at.
(Change the 'dev' class style to unhide these buttons for debugging).
-->
<div id="hidden-elements" class="dev">
  <fieldset>
    <legend>Scene C2</legend>
    <fieldset>
      <button
        id="btnRestart"
        class="btnDev"
        type="button"
        onclick="window.location.href='#start'"
        data-choice-regex="-RESTART$"
      >
        Restart 乁(ツㄏ
      </button>
      <button
        id="btnBack"
        class="btnDev"
        type="button"
        onclick="history.back()"
        data-choice-regex="-BACK$"
      >
        Back (<--)
      </button>
      <button
        id="btnDev"
        class="btnDev"
        type="button"
        onclick="window.location.href='#dev'"
        data-choice-regex="-DEV$"
      >
        Dev Menu (≋个≋)
      </button>
    </fieldset>
  </fieldset>
</div>
