body {
  padding: 0;
  font: 1.5em "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.main {
  position: relative;
  padding: 0;
  width: 800px;
  height: 600px;
}

video::cue {
  font-size: 100%;
  color: cyan;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.6);
  line: 20%;
}

.video {
  position: relative;
  z-index: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(0%, -50%);
  width: 80%;
  z-index: 1;
}

.choice-msg {
  color: indigo;
  font-size: 2em;
  text-align: center;
}

.try-again-msg {
  color: indigo;
  font-size: 1em;
  text-align: center;
}

.restart-msg {
  color: orchid;
  font-size: 1em;
  text-align: center;
}

.fadeout {
  animation: fadeout;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: 3;
  opacity: 0;
}

#choice-msg.fadeout {
  animation: fadeout;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.blink {
  animation: blinker;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.blink-few-times {
  animation: blinker;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* For debugging set 'visibility: visible;' */
.dev {
  /* visibility: hidden; */
  visibility: visible;
  background-color: darkgray;
  color: black;
  font-size: 1em;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px;
}

.btnDev {
}

.btnChoice {
  color: blue;
}
